{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "components": "./src/components",
        "containers": "./src/containers",
        "services": "./src/services",
        "store": "./src/store"
      }
    }],
    "inline-react-svg",
    ["inline-import", {
        "extensions": [".css"]
    }]
  ]
}
